[safe]
	directory = /opt/homebrew
	directory = /opt/homebrew
	directory = /opt/homebrew
	directory = /opt/homebrew/Library/Taps/homebrew/homebrew-core/
	directory = /opt/homebrew/Library/Taps/homebrew/homebrew-cask/
	directory = /opt/homebrew/Library/Taps/homebrew/homebrew-services/
	directory = /opt/homebrew/Library/Taps/homebrew/homebrew-core
	directory = /opt/homebrew/Library/Taps/homebrew/homebrew-cask
[http]
	; proxy = localhost:1082
	sslVerify = false
	version = HTTP/2
[user]
	email = hs@imsuh.com
	name = Hao Su
[https]
	; proxy = localhost:1082
